@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using ProjetASP.NET.Utility


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function yesnoCheck(that) {
        if (that.value == 1) {

            document.getElementById("Prof").style.display = "none";
            document.getElementById("Etudiant").style.display = "block";
        } else if (that.value == 2) {
            document.getElementById("Etudiant").style.display = "none";
            document.getElementById("Prof").style.display = "block";

        } else {
            document.getElementById("Etudiant").style.display = "none";
            document.getElementById("Prof").style.display = "none";
        }

    }
</script>



<div class="white-background row text-white">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Créer un nouveau compte</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.CIN">CIN</label>
                <input asp-for="Input.CIN" class="form-control" placeholder="KA125478" />
                <span asp-validation-for="Input.CIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName">Prénom</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">Nom</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email Institutionnel</label>
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="nom.prenom@etu.uae.ac.ma" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"> Mot de passe</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Confirmez votre mot de passe</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @if (User.IsInRole(SD.AdminEndUser))
            {
                <select onchange="yesnoCheck(this);" asp-for="Input.RoleIS">
                    <option value="0">Administrateur</option>
                    <option value="1">Etudiant</option>
                    <option value="2">Professeur</option>
                </select>
            }




            <div id="Etudiant" style="display: none;">
                <select asp-for="Input.IdFil">
                    <option value="0">Select</option>
                    <option value="1">Ginf</option>
                    <option value="5">Gsea</option>

                </select><br />
            </div>
            <div id="Prof" style="display: none;">
                <select asp-for="Input.IdDept">
                    <option value="0">Select</option>
                    <option value="2">Mi</option>
                    <option value="3">GEI</option>
                    <option value="4">SIC</option>

                </select><br />
            </div>

            <div class="form-group">
                <label asp-for="Input.Adress">Adresse</label>
                <input asp-for="Input.Adress" class="form-control" placeholder="5 Rue Fes Résidence" />
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City">Ville</label>
                <input asp-for="Input.City" class="form-control" placeholder="Tanger" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Tél</label>
                <input asp-for="Input.PhoneNumber" type="number" class="form-control" placeholder="+212654875986" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">S'enregistrer</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
