@page
@model ProjetASP.NET.Pages.Filieres.IndexModel
@{
    ViewData["Title"] = "ENSAT Cours | Filières";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="border white-background">

    <div class="row">
        <div class="col-6">
            <h2 class="text-white">Filières</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-page="Create"><i class="fa fa-plus-square"></i> Ajouter une filière</a>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Nombre de filières
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.nbrFiliere</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        @if (Model.Filieres.Count() == 0)
        {
            <p class="text-danger">Aucune filière n'existe maintenant</p>
        }
        else
        {
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>Id Filière</th>
                        <th>Nom</th>
                        <th>Abréviation</th>
                        <th>Modules</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Filieres)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.IdFil)</td>
                            <td>@Html.DisplayFor(m => item.Nom)</td>
                            <td>@Html.DisplayFor(m => item.Abrev)</td>
                            <td>
                                <a asp-page="../Modules/Index" asp-route-IdFil="@item.IdFil" style="text-decoration:none;">
                                    <i class="fa fa-th-list"></i> Voir modules
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-route-id="@item.IdFil" asp-page="Delete" asp-page-handler="Delete"><i class="fa fa-trash"></i> Supprimer</a>
                                <a class="btn btn-success" asp-route-id="@item.IdFil" asp-page="Edit"><i class="fa fa-edit"></i> Modifier</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
</div>